

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/images/icons/logo.png" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img
          src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man"  loading="lazy"  />
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="profile/{{id}}"><i class="mdi mdi-account-alert-outline"></i> Profile : {{nom}} {{prenom}}</a></li>
					<li><a class="dropdown-item" href="/dashboard/{{id}}"><i class="mdi mdi-chart-areaspline"></i> Analytics</a></li>
					<div class="dropdown-divider"></div>
					<li><a class="dropdown-item" href="#"><i class="mdi mdi-settings-outline"></i> Settings & Privacy</a></li>
					<li><a class="dropdown-item" href="#"><i class="mdi mdi-help-circle-outline"></i> Help Center</a></li>
					<div class="dropdown-divider"></div>
					<li><a class="dropdown-item" (click)="LogOut()" href="/login"><i class="mdi mdi-logout"></i> Log out</a></li>

        </ul>
      </div>

      <!-- <div class="collapse navbar-collapse" >
        <form class="d-flex">
          <select class="form-select" [(ngModel)]="currentLanguage" name="currentLanguage" (change)="selectLanguage($event)">
            <option  *ngFor="let language of Mylanguages" [value]="language.lib_langue">
              {{language.lib_langue}}
            </option>
          </select>
        </form>
      </div> -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
   
        </ul>
        <form class="d-flex">
          <select class="form-select me-2" [(ngModel)]="currentLanguage" name="currentLanguage" (change)="selectLanguage($event)">
            <option  *ngFor="let language of Mylanguages" [value]="language.lib_langue">
              {{language.lib_langue}}
            </option>
          </select>
        </form>
      </div>
    </div>
  </nav>
