<nav class="main-menu navbar-collapse" id="navbarSupportedContent" >
  <ul>
      <li >
          <a href="/login">
              <i class="mdi mdi-account-check-outline  fa-2x"></i>
              <span class="nav-text">
                  Login
              </span>
          </a>
        
      </li>
      <li class="has-subnav">
          <a href="/register">
              <i class="mdi mdi-account-plus-outline fa-2x"></i>
              <span class="nav-text">
                  Register
              </span>
          </a>
          
       </li>
     <!-- <li class="has-subnav">
          <a href="#">
             <i class="fa fa-list fa-2x"></i>
              <span class="nav-text">
                  Forms
              </span>
          </a>
          
      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text">
                  Pages
              </span>
          </a>
         
      </li> -->
      <li>
          <a href="#">
              <i class="fa fa-bar-chart-o fa-2x"></i>
              <span class="nav-text">
                  Graphs and Statistics
              </span>
          </a>
      </li>
      <!-- <li>
          <a href="api/{{idclient}}">
               <i class="mdi mdi-code-braces fa-2x"></i>
               <span class="nav-text">
                   Api
               </span>
           </a>
       </li> -->
       <li>
          <a href="#">
             <i class="mdi mdi-information-outline fa-2x"></i>
              <span class="nav-text">
                  Documentation
              </span>
          </a>
      </li>
  </ul>

  <!--<ul class="logout">
      <li>
         <a href="/login" (click)="LogOut()">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Logout
              </span>
              
          </a>
      </li>  
  </ul> -->
</nav>