<app-header></app-header>

<div class="container-fluid h-100">
  <app-sidebar></app-sidebar>
     <div class="row justify-content-center">
        <main class="col-md-12  col-lg-11 px-md-4 h-100">

            <div class="card-body">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                      <tr>
                        <th scope="col">Text</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Entry date</th>
                        <th scope="col">Client</th>
                        <th scope="col">Status</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let context of contexts | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td scope="row">{{context.text}}</td>
                        <td scope="row">{{context.title}}</td>
                        <td scope="row">{{context.entry_date}}</td>
                        <td>{{context.nom}} {{context.prenom}}</td>
                        <td>
                            <span *ngIf="context.status == '1'" class="badge badge-success">Valide</span>
                            <span *ngIf="context.status == '0'" class="badge badge-danger">Deleted</span> 
  
                        </td>
                        <td>
                          <span *ngIf="context.type == '1'"  class="badge badge-success"><i class="mdi mdi-earth"  ></i></span>
                          <span *ngIf="context.type == '0'"  class="badge badge-danger"><i class="mdi mdi-earth-off"></i></span> 
                        </td>

                        <td>
                          <select *ngIf="context.type == '1'" class="form-select" (change)="SelectType($event,context.id_context)" >
                              <option value="1" selected >  <i class="mdi mdi-earth" aria-hidden='true'></i> Public  </option>
                              <option value="0">  <i class="mdi mdi-earth-off"></i>  Private</option>
                          </select>
                          <select *ngIf="context.type == '0'" class="form-select" (change)="SelectType($event,context.id_context)" >
                            <option value="1" > <i class="mdi mdi-earth"></i> Public  </option>
                            <option value="0" selected>  <i class="mdi mdi-earth-off"></i> Private</option>
                        </select>

                          

                        </td>
                        <td>
                          <span ><a type="button"  href="Q_R/add/{{context.id_context}}"><i class="mdi mdi-plus-thick" ></i> </a></span> 
                          
                        </td>
                        <!-- <td><button type="button" class="btn btn-primary" (click)="modalUpdateOpen(modalUpdateContext,context.id_context,context.text)">Update</button></td> -->
                      </tr>
                     
                    </tbody>
                  </table>
                  <div class="pagination">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                  <button type="button" class="btn btn-outline-primary" (click)="ModalAddContextOpen(addContext)">Add Context</button>
                  
            </div>
       </main>
    </div>
</div>


<ng-template #addContext >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter nouveau context</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeDialog()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="title">Titre</label>
          <div class="input-group">
            <input id="title" class="form-control" placeholder="titre ..." [(ngModel)]="contextTitle" name="dp">
          </div>
        </div>
        <div class="form-group">
            <label for="title">Texte</label>
            <div class="input-group">
              <textarea id="title" class="form-control" placeholder="Texte ..." [(ngModel)]="context" name="dp" rows="3"></textarea>
            </div>
          </div>
      </form>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark"   (click)="addcentext()" >Save</button>
    </div>
  </ng-template>



  