<nav class="main-menu navbar-collapse" id="navbarSupportedContent" >
    <ul>
        <li >
            <a href="/dashboard/{{idclient}}">
                <i class="mdi mdi-monitor-dashboard fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="/context">
                <i class="mdi mdi-table-of-contents fa-2x"></i>
                <span class="nav-text">
                    Context
                </span>
            </a>
            
        <!-- </li>
        <li class="has-subnav">
            <a href="#">
               <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Forms
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
               <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    Pages
                </span>
            </a>
           
        </li> -->
        <li>
            <a href="/context">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Graphs and Statistics
                </span>
            </a>
        </li>
        <li>
            <a href="api/{{idclient}}">
                 <i class="mdi mdi-code-braces fa-2x"></i>
                 <span class="nav-text">
                     Api
                 </span>
             </a>
         </li>
        <li>
            <a href="summaration/text">
               <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
    </ul>
  
    <ul class="logout">
        <li>
           <a href="/login" (click)="LogOut()">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
                
            </a>
        </li>  
    </ul>
  </nav>