<app-header></app-header>

<div class="container-fluid h-100">
  <app-sidebar></app-sidebar>
     <div class="row justify-content-center">
        <main class="col-md-12  col-lg-11 px-md-4 h-100">

            <div class="row row-cols-1 row-cols-md-4 g-4 mb-5 pt-5 pb-2 mb-3">
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                            
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col text-center"  ><i class="mdi mdi-table-of-contents text-primary  fa-3x"></i> </div>

                                <div class="col "  >
                                  <h5 >Total Context </h5>
                                  <h5 class="text-danger text-center">{{countcontext}}</h5>
                                </div>

                            </div>
                           
                        </div>
                        <p></p>
                    </div>
                </div>
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col text-center"  ><i class="mdi mdi-message-text-outline text-primary  fa-3x"></i> </div>

                                <div class="col "  >
                                  <h5 >Total message </h5>
                                  <h5 class="text-danger text-center">{{countcontextconvertation}}</h5>
                                </div>

                            </div>
                    </div>
                        <p></p>
                    </div>
                </div>
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col text-center"  ><i class="mdi mdi-chart-areaspline text-danger  fa-3x"></i> </div>

                                <div class="col "  >
                                  <h5 >Api Used in extren</h5>
                                  <h5 class="text-danger text-center">{{totalapi}}</h5>
                                </div>

                            </div>
                    </div>
                        <p></p>
                    </div>
                </div>
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col text-center"  ><i class="mdi mdi-table-of-contents text-primary  fa-3x"></i> </div>

                                <div class="col "  >
                                  <h5 >Total Confirmed </h5>
                                  <h5 class="text-danger text-center">12346</h5>
                                </div>

                            </div>
                    </div>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4 mb-5 pt-5 pb-2 mb-3">
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                            
                            <p>cart 1 test </p>
                            <canvas
                            [chartType]="'line'"
                            [legend]="false"
                            [datasets]="chartData1"
                            [options]="chartOptions1"
                            [labels]="chartLabels1"
                            baseChart>
                        </canvas> 

                        </div>
                    </div>
                </div>
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                            <p>carte 2 test </p>
                            <!-- test 2 cart -->
                                <div>
                                <!-- <canvas
                                [chartType]="'line'"
                                    [legend]="false"
                                    [datasets]="chartData2"
                                    [options]="chartOptions2"
                                    [labels]="chartLabels2"
                                    baseChart>
                                </canvas>  -->
                                <!-- <div class="chart-wrapper"> -->
                                    <canvas id="canvas">{{radarchart}}
                                  </canvas>
                                <!-- </div> -->
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4 mb-5 pt-5 pb-2 mb-3">
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                           

                              <div class="card-body">
                                <p>Top {{top}}  Context messages / mois </p>
                                <div class="col-md-3">
                                    <select width="30px" class="form-select" [(ngModel)]="top" name="top" (change)="selectLimit($event)">
                                        <option  [value]= 3  >
                                            3
                                        </option>
                                        <option  [value]= 5 >
                                            5
                                        </option>
                                        <option [value]= 10  >
                                            10
                                        </option>
                                        
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select width="30px" class="form-select" [(ngModel)]="month" name="month" (change)="selecmonth($event)">
                                        <option [value]= 1 >
                                            January
                                        </option>
                                        <option [value]= 2 >
                                            February
                                        </option>
                                        <option  [value]= 3 >
                                            MARCH
                                        </option>
                                        <option  [value]= 4 >
                                            APRIL
                                        </option>
                                        <option  [value]= 5 >
                                            May
                                        </option>
                                        <option  [value]= 6 >
                                            June
                                        </option>
                                        <option  [value]= 7 >
                                            July
                                        </option>
                                        <option  [value]= 8 >
                                            August
                                        </option>
                                        <option  [value]= 9 >
                                            September
                                        </option>
                                        <option  [value]= 10 >
                                            October
                                        </option>
                                        <option  [value]= 11 >
                                            November
                                        </option>
                                        <option  [value]= 12 >
                                            December
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    
                                <canvas baseChart 
                                [data]="pieChartData" 
                                [labels]="pieChartLabels" 
                                [chartType]="pieChartType"
                                [options]="pieChartOptions"
                                [colors]="pieChartColors" 
                
                              >
                              </canvas>
                                </div>
                              </div>


                        </div>
                    </div>
                </div>
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                            
                            <div>
                                <canvas baseChart 
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                > 
                            </canvas>

                                <!-- <canvas id="canvasbar">{{barchart}}
                                </canvas> -->
                            
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="row ">
                <div class="col"  >
                    <div class="card  shadow h-100"  >
                        <div class="card-body">
                            <h5>Client List</h5>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Text</th>
                                    <th scope="col">Entry date</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let context of contexts">
                                    <th scope="row">{{context.text}}</th>
                                    <td>{{context.entry_date}}</td>
                                    <td>{{context.nom}} {{context.prenom}}</td>
                                    <td>
                                        <span *ngIf="context.status == '1'" class="badge badge-success">Valide</span>
                                        <span *ngIf="context.status == '0'" class="badge badge-danger">Deleted</span> 
              
                                    </td>
                                  </tr>
                                 
                                </tbody>
                              </table>
                    </div>
                        <p></p>
                    </div>
                </div>
               
            </div> -->

        </main>
    </div>
    
</div>
    


<!-- <ng-template #modalUpdateContext let-modal>

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Éxito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')"> 
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        ¿Quieres confirmar la informacion? (Mira el resultado en consola)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
      </div>
    </div>
  
  </ng-template> -->