<div  class="card">
  <div class="card-body" *ngIf="errorMessage$| async as errorMessage" class="notification">{{errorMessage}}</div>
</div>
<div> 
    <label>Select your language</label>
    <select class="form-select" (value)="currentLanguage">
      <option *ngFor="let language of languages" [value]="language" (click)="selectLanguage(language)">
        {{language}}
      </option>
    </select>
</div>
<div>
  <button class="rounded-circle" *ngIf="listening$ | async; else mic" (click)="stop()">
    <i class="mdi mdi-microphone">stop</i>
  </button>
  <ng-template #mic>
    <button mat-fab (click)="start()">
      <i class="mdi mdi-microphone">start</i>
    </button>
  </ng-template>
</div>
<div class="card" *ngIf="transcript$ | async">
<div class="card-body" class="notification mat-elevation-z4">{{transcript$ | async}}</div>
</div>
<div>
  <textarea matInput [value]="totalTranscript || ''" placeholder="Speech Input Result" rows="15" disabled="true"></textarea>

</div>