h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: 'Telex',sans-serif;
    font-weight: bold;
    line-height: 20px;
    color: #317eac;
    text-rendering: optimizelegibility;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

